.mainWrapper
{
    display: flex;
    width: 100vw;
    height: 100vh;
    /* overflow: hidden; */
    
}
.sidebar
{
    
    width: 200px;
    /* min-width: 200px */
    transition: all 0.3s ease-in-out;

}
.contentContainer
{
    display: flex;
    flex-grow: 1;
    /* min-width: 1000px; */
    flex-direction: column;
    width: calc(100% - 200px);
    align-items: flex-start;
    justify-content: flex-start;
  
}


.topbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.burgerMenu
{
    background-color: transparent;
    border: none;
}

.pageContainer

{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    background-color: #0f1618;
    /* padding: 10px; */
   
}