.addCard
{
    background: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    height: 200px;
    flex-direction: column;
    padding: 5px 5px;
}
.addCard2
{
    background: rgba(255, 255, 255, 0.027);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 10px 10px;
   
}

.searchBox
{
    background: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255,255,255,0.05);
    border-radius: 8px; 
}